<div class="headerr">
    <div class="one">
        <img width="1515" height="400" src="./assets/loggerInImg.jpg">
        <div class="texto-encima">Texto</div>
        <div class="centrado">Bienvenido a Tu Vuelo.com</div>
    </div>
</div>

<div class="NavBar">
    <ul>
        <li><a href="default.asp">Inicio</a></li>
        <li><a href="news.asp">Noticias</a></li>
        <li><a href="contact.asp">Contacto</a></li>
        <li><a href="about.asp">Acerca de nosotros</a></li>
      </ul>
</div>

<div class="flightSearch">
    <div class="departureCity">
        <label>Seleciona tu lugar de partida</label>
        <br><br>
        <select class="combo" Selecciona el lugar de partida>
            <option value="Select">Select....</option>
            <option value="bogota">Bogota</option>
            <option value="medellin">Medellin</option>
            <option value="barranquilla">Barranquila</option>
            <option value="cali">Cali</option>
            <option value="cdmx">Ciudad de mexico</option>
        </select>
    </div>
    
    <div class="arrivalCity">
        <label>Seleciona tu lugar de llegada</label>
        <br><br>
        <select class="combo" Selecciona el lugar de partida>
            <option value="Select">Select....</option>
            <option value="bogota">Bogota</option>
            <option value="medellin">Medellin</option>
            <option value="barranquilla">Barranquila</option>
            <option value="cali">Cali</option>
            <option value="cdmx">Ciudad de mexico</option>
        </select>
    </div>
</div>

